<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register </title>
</head>
<body>
    <form action ="/sendDangky" method="post">
    Name <input type="text" name="txtName">
    <br>
    Gender <select name="gender">
        <option value="Nam">Male</option>
        <option value="Nu">Female</option>
    </select> 
    <br>
    <input type="submit" value="Register">
    </form>
</body>
</html>